.project-card {
    width: 100%;
    background-color: var(--c-darkest);
    border-radius: .6rem;
    margin-bottom: 3rem;
    -webkit-box-shadow: 0rem 0rem 1rem 1rem rgba(255, 255, 255, .1);
    box-shadow: 0rem 0rem 1rem 1rem rgba(255, 255, 255, .1);

    overflow: hidden;
}

.project-card__img {
    width: 100%;
    height: auto;
}

.project-card__content {
    padding: 2.4rem;
}

.project-card__title {
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: .175rem;
    margin-bottom: .5rem;
}

.project-card__text {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.project-card__link {
    color: var(--c-lightest);
    font-size: 1.6rem;

}

@media only screen and (min-width: 600px) {
    .project-card {
        width: 47.5%;
        margin-bottom: 6rem;
    }
}